{% extends "templates/base.html" %}
{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h2>Welcome to Spá.</h2>
    <p>Here you can define projects which will allow you to swiftly extract information from any document.</p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <hr>
    <h3>Projects</h3>
    <table>
      <thead>
        <tr>
          <th width="200">Title</th>
          <th>Description</th>
          <th>Last updated</th>
          <th width="150">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% if projects|length = 0 %}
        <tr><td colspan="4" class="text-center">You have no projects yet.</td></tr>
        {% endif %}
        {% for project in projects|sort-by:last_updated %}
        <tr>
          <td><a href="{{servlet-context}}/projects/{{project.id}}">{{project.title}}</a></td>
          <td>{{project.description}}</td>
          <td>{{project.last_updated|date:mediumDate}}</td>
          <td><a href="{{servlet-context}}/projects/{{project.id}}/edit">[edit]</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="{{servlet-context}}/projects/new/edit" class="button secondary small">Create Project</a>
  </div>
</div>
{% endblock %}
