{% extends "templates/base.html" %}
{% block content %}
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns clearfix last">
        <h2 class="left">{{project.title}}</h2>
        <a style="margin-top: 1.115em" href="{{servlet-context}}/projects/{{project.id}}/edit" class="right secondary tiny button">edit</a>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <p>{{project.description}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="large-12 columns">
        <div id="documents"></div>
      </div>
    </div>
  </div>
</div>

<script>
window.models.documents = {{documents|json|safe}};
</script>

{% endblock %}
