# Force Unix line endings for most file formats (except binary files)
*.js text eol=lf
*.jsx text eol=lf
*.jsm text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.org text eol=lf
*.properties text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.config text eol=lf
*.inc text eol=lf
*.manifest text eol=lf
*.rdf text eol=lf
*.clj text eol=lf
*.edn text eol=lf
*.java text eol=lf

# PDF files shall not modify CRLF line endings
*.pdf -crlf