<!DOCTYPE html>
<html class="{{page-type}}">
  <head>
    <title>Sp&aacute;</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="last-commit" content={{last-commit}}>

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel="stylesheet">
    <link href="{{servlet-context}}/static/css/main.css?{{last-commit}}" rel="stylesheet">
    <script src="{{servlet-context}}/static/scripts/vendor/modernizr.js"></script>
    <script>
     window.models = {};
    </script>
    {% if bootstrap-script %}
    <script data-main="{{servlet-context}}/static/scripts/{{bootstrap-script}}" src="{{servlet-context}}/static/scripts/require.js"></script>
    {% endif %}
  </head>

  <body class="antialiased">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="{{servlet-context}}/">Spá</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        {% block menu %}
	      {% block left-menu %}{% endblock %}
        {% include "templates/menu.html" %}
        {% endblock %}
      </section>
    </nav>

    {% if breadcrumbs %}
    <nav class="breadcrumbs">
      {% for breadcrumb in breadcrumbs %}

      {% if forloop.last %}
      <span class="current">{{breadcrumb.name}}</span>
      {% else %}
      <a href="{{breadcrumb.uri}}">{{breadcrumb.name}}</a>
      {% endif %}

      {% endfor %}
    </nav>
    {% endif %}

    <main>
      {% block content %}
      {% endblock %}
    </main>
    <script>
     CSRF_TOKEN = "{% csrf-token %}";
     LAST_COMMIT = "{{last-commit}}";
    </script>
  </body>
</html>
