<!DOCTYPE html>
<html class="{{page-type}}">
  <head>
    <title>Vortext Annotate</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="last-commit" content={{last-commit}}>
    <script>
     window.models = {};
     CSRF_TOKEN = "{% csrf-token %}";
     LAST_COMMIT = "{{last-commit}}";
    </script>

    <link href="{{servlet-context}}/static/css/main.css?{{last-commit}}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    {% ifequal dispatcher "document" %}
    <link href="{{servlet-context}}/static/scripts/spa/css/style.css" rel="stylesheet">
    {% endifequal %}

    <script src="{{servlet-context}}/static/scripts/modernizr.js"></script>
    {% if dispatcher %}
    <script data-main="{{servlet-context}}/static/scripts/{{dispatcher}}" src="{{servlet-context}}/static/scripts/require.js"></script>
    {% endif %}
  </head>

  <body class="antialiased">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="{{servlet-context}}/"><img src="/img/logo.png" />vortext</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        {% block menu %}
	      {% block left-menu %}{% endblock %}
        {% include "templates/menu.html" %}
        {% endblock %}
      </section>
    </nav>

    {% if breadcrumbs %}
    <nav class="breadcrumbs">
      {% for breadcrumb in breadcrumbs %}

      {% if forloop.last %}
      <span class="current">{{breadcrumb.name}}</span>
      {% else %}
      <a href="{{breadcrumb.uri}}">{{breadcrumb.name}}</a>
      {% endif %}

      {% endfor %}
    </nav>
    {% endif %}

    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
