{% extends "templates/base.html" %}
{% block content %}
<div class="row">
  <div class="large-6 columns">

    <h3>User details for {{user.id}}</h3>
    <form action="{{servlet-context}}/update-profile" method="POST">
      <input type="hidden" name="__anti-forgery-token" value="{% csrf-token %}" />
      <div class="form-group col-lg-3">
	      <label>First name</label>
	      <p>
          <input name="first-name" tabindex="1" type="text" value={{user.first_name}}></input>
	      </p>
	      <label>Last name</label>
	      <p>
          <input name="last-name" tabindex="1" type="text" value={{user.last_name}}></input>
	      </p>
	      <label>Email</label>
	      <p>
          <input name="email" tabindex="1" type="text" value={{user.email}}></input>
	      </p>
	      <input class="button small" tabindex="4" type="submit" value="Update Profile">
      </div>
    </form>
  </div>
</div>
{% endblock %}
