html.home, html.home body {
    color: #505050;
    background-color: transparent !important;
}

html, body {
    background-color: white !important;
}

html.view, html.view body {
    background-color: #f5f5f5 !important;
    overflow: hidden;
}

html.home {
    background: url(/static/img/bg.jpg) no-repeat top center fixed black !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

html.home fieldset {
    border-radius: 2px;
    border: 1px solid #eee;
    padding: 1em;
    margin-bottom: -1em;
    -moz-box-shadow:    0 0 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    box-shadow:         0 0 5px rgba(0,0,0,0.6);
    background-color: white;
}

html.home p, html.home h1 {
    color: white;
}

.columns.fourty {
    height: 40px !important
}

/* Selectize tweaks */
.selectize-input input {
    height: 20px;
}
.selectize-input div.item + input {
    display: inline-block;
}
.selectize-input, .selectize-input.dropdown-active, .selectize-dropdown {
    border-radius: 0;
}
.selectize-input > div.item {
    margin-top: 1px;
}
.selectize-input > input {
    top: 1px;
    height: auto;
    display: inline-block;
}

.icon-button {
    color: black;
    opacity: 0.2;
}

.icon-button:hover {
    opacity: 0.8;
}